.toggle-button {
  /* Middle */
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 120px;
  }

  label, .toggle {
    height: 2em;
    border-radius: 100px;
  }

  label {
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    position: relative;
    margin: 0;
    cursor: pointer;
  }

  .toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .names {
    font-size: 50%;
    font-weight: bolder;
    width: 65%;
    margin-left: 17.5%;
    margin-top: .5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  .dark {
    opacity: .5;
  }

  /* -------- Switch Styles ------------*/
  [type="checkbox"] {
    display: none;

    &:checked + .content {
      background-color: #26242E;
      color: white;
      /* Fab */
      .fab {
        background-color: #34323D;
      }

      .swipe {
        background-color: #34323D;
        opacity: 1;
      }

      .toggle {
        transform: translateX(100%);
        background-color: #34323D;
      }

      .dark {
        opacity: 1;
      }

      .light {
        opacity: .5;
      }
    }
  }
}